.form--inline {
  display: flex;
}
label {
  font-size: 1.4rem;
  color: $color-gray-3;
  display: block;
}
.input {
  margin: 0.5rem 0;
  display: inline-block;
  align-items: center;
  border: 1px solid $color-light-2;
  padding: 1.2rem;
  background-color: $color-light-1;
  font-size: 1.6rem;
  position: relative;

  &--icon {
    &__icon {
      position: absolute;
      bottom: 0.8rem;
    }
  
    &__field {
      font-size: inherit;
      border: none;
      margin-left: 3rem;
    }
  }

  &--select {
    padding-right: 6rem;
    background-color: $color-light-1;
    color: $color-gray-2;
    font-size: 400;
  }
}