<div class="modal">
  <div class="modal__card">
    <div class="modal__title">
      <img (click)="closeModal()" class="modal__close" src="/assets/img/icons/x-2.svg" alt="">
      <h2 class="title--secondary">Usuarios</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
    <div class="modal__content">
      <div class="user__card" *ngFor="let user of users; let i = index;">
        <img class="user__picture" [src]="user.picture" alt="">
        <div class="user__info">
          <div class="user__name">
            {{user.name + user.fathersLastName}}
          </div>
          <div class="user__email">
            {{user.email}}
          </div>
        </div>
      </div>
    </div>
    <div class="loading">
      <div class="loading__circle"></div>
      <div class="loading__circle"></div>
      <div class="loading__circle"></div>
      <div class="loading__text">
        Cargando
      </div>
    </div>
  </div>
</div>
