<div class="users__header">
  <div class="user__header-info">
    <h2 class="title--secondary">Usuarios</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
  </div>
  <div class="users__header-actions">
    <button class="btn btn--primary-outline">
      <div class="btn__icon">
        <img src="assets/img/icons/eye.svg" alt="">
      </div>
      Previsualizar
    </button>
    <button class="btn btn--outline btn--primary" (click)="addUser()">
      <div class="btn__icon">
        <img src="assets/img/icons/add.svg" alt="">
      </div>
      Agregar nuevo usuario
    </button>
  </div>
</div>

<div class="users__list">
  <div class="users__header-form">
    <form class="form--inline" action="#">
      <div class="input input--icon">
        <img class="input--icon__icon" src="assets/img/icons/search.svg" alt="">
        <input [(ngModel)]="search" name="search" type="text" class="input--icon__field" placeholder="Busqueda">
      </div>
      <div class="users__filters">
        <select class="input input--select" name="pagination" id="user_sort">
          <option class="input__select-option" value="8">8 por página</option>
        </select>

        <select [(ngModel)]="sortValue" class="input input--select" name="sortValue" id="sortValue">
          <option class="input__select-option" value="asc">A - Z</option>
          <option class="input__select-option" value="desc">Z - A</option>
        </select>
  
        <select [(ngModel)]="rolValue" class="input input--select" name="rolValue" id="rolValue">
          <option class="input__select-option" [value]="0">
            Todos
          </option>
          <option *ngFor="let rol of roles" class="input__select-option" [value]="rol.id">
            {{rol.position}}
          </option>
        </select>
  
      <div class="style-view">
        <img src="assets/img/icons/list.svg" alt="">
        <img src="assets/img/icons/square.svg" alt="">
      </div>
      </div>
    </form>
  </div>
  <table class="datatable" cdkDropList (cdkDropListDropped)="drop($event)">
    <tr class="datatable__header">
      <th></th>
      <th class="datatable__header-item" *ngFor="let header of headers;">
        {{header.name}}
      </th>
      <th></th>
    </tr>
    <tr class="datatable__row" *ngFor="let user of users | sortUser : sortValue | statusUser : rolValue | searchUser : search; let i = index;"
      cdkDrag>
      <td><img class="drag-icon" src="assets/img/icons/icon-drag.svg" alt=""></td>
      <td>
        <img class="user__picture" [src]="user.picture" alt="">
      </td>
      <td >{{user.name}}</td>
      <td>{{user.fathersLastName}}</td>
      <td>{{user.mothersLastName}}</td>
      <td>{{user.email | truncateText}}</td>
      <td>{{roles[user.roleId - 1] ? roles[user.roleId - 1].position : ''}}</td>
      <td>
        <img (click)="changeStatus(user)" class="toggle-status" *ngIf="user.active" src="assets/img/icons/toggle_on.svg" alt="">
        <img (click)="changeStatus(user)" class="toggle-status" *ngIf="!user.active" src="assets/img/icons/toggle_off.svg" alt="">
      </td>
      <td>
          <div class="datatable__actions">
            <img (click)="deleteUser(i)" class="action" src="assets/img/icons/trash-2.svg" alt="">
            <img (click)="editUser(user)" class="action" src="assets/img/icons/edit.svg" alt="">
          </div>
      </td>
    </tr>
  </table>
</div>

<div class="pagination">
  <div class="pagination__back">
    Anterior
  </div>
  <span>1</span>
  <span class="pagination__current">2</span>
  <span>3</span>
  <span>4</span>
  <span>5</span>
  <div class="pagination__next">
    Siguiente
  </div>
</div>

<app-users-modal
  (closeEvent)="closeModal($event)"
  (save)="saveUser($event)"
  [user]="user"
  [modal]="modal"
  [newUser]="newUser">
</app-users-modal>

<div class="alert alert--primary" *ngIf="alert">
  <img class="alert__icon" src="assets/img/icons/check-icon.svg" alt="">
  Se guardó el usuario exitosamente
  <img (click)="alert = false" class="alert__close" src="assets/img/icons/icon-close.svg" alt="">
</div>